<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nChill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>380BB5D51CAAB7210099760C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>380BB5E91CAAB7220099760C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>380BB5F41CAAB7220099760C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
